html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}
  
body {
  max-width: 960px;
  margin: auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #377ba8;
  margin: auto;
}

div.scroll {
  overflow: auto;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide{
  display: none!important;
}

#answer{
  display: flex;
  flex-direction: column;
}

.response{
  align-self: flex-end;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(94, 221, 179);
  margin-right: 1em;
}

.question_display{
  align-self: flex-start;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: lightskyblue;
  margin-left: 1em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.map{
  width: 50%;
  height: 400px;
}

footer p
{
    font-size: 0.8em;
    text-align: center;
}

footer img
{
    width: 25px;
    height: 25px;
    margin: 0px 10px 0px 10px;
}

input{
  width: 99%;
}
#social_media
{
    display: flex;
    justify-content: center;
}


nav ul
{
    display: inline-flex;
}

nav a
{
  display: flex;
  font-weight: bold;
  margin-left: 25px;
}

ul {
  list-style-type: none;
}