<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/css/style.css" />
        <link rel="shortcut icon" href="../static/img/favicon/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="../static/img/favicon/favicon.png" type="image/png"/>
        <link rel="icon" sizes="32x32" href="../static/img/favicon/favicon-32.png" type="image/png"/>
        <link rel="icon" sizes="64x64" href="../static/img/favicon/favicon-64.png" type="image/png"/>
        <link rel="icon" sizes="96x96" href="../static/img/favicon/favicon-96.png" type="image/png"/>
        <link rel="icon" sizes="196x196" href="../static/img/favicon/favicon-196.png" type="image/png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="../static/img/favicon/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="../static/img/favicon/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="../static/img/favicon/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="../static/img/favicon/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="../static/img/favicon/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="../static/img/favicon/apple-touch-icon-144x144.png"/>
        <meta name="msapplication-TileImage" content="favicon-144.png"/>
        <meta name="msapplication-TileColor" content="#FFFFFF"/>
        <title>GranPy Bot - Où va-t-on ?</title>
    </head>
    <body>
        <ul><li>
            <a href="#">GranPy Bot</a>
            <a href="https://gitlab.com/oc-sam/papy-bot/-/blob/main/README.md">A propos</a>
        </li></ul>
        <div class="content">
            {% block content %} {% endblock content %}
        </div>
        <p class="scroll">
        </p>
        <hr>
        <footer>
            <p>Réalisation: Samy SAAD</p>
            <div id="social_media">
                <a href="https://www.linkedin.com/in/samysaad/" target="_blank"><img src="../static/img/social/031-linkedin.png" alt="Linkedin" title="Linkedin" /></a>
                <a href="https://gitlab.com/oc-sam/papy-bot" target="_blank"><img src="../static/img/social/gitlab-icon-rgb.png" alt="GitLab" title="GitLab" /></a>
            </div>
        </footer>
        <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6L7LZYtXn8Pm-LECakcBuzExro_VA2gA&libraries=&v=weekly"
        ></script>
        <script src="static/js/main.js"></script>
    </body>
</html>