{% extends "base.html" %}

{% block content %}
<img src="../static/img/favicon/favicon-196.png" alt="Logo">
<h2>Un lieu à visiter ? une curiosité à rassasiée ?</h2>
<hr>
    <form id="question-form" method="post" action="/answer">
      <div id="answer" class="scroll">
        <p class="response">
          Salut c'est GrandPy, le papy robot ! Quel lieu souhaites-tu découvrir ?
        </p>
      </div>
      <div>
        <input
          id="user_input"
          name="user_input"
          type="text"
          placeholder="Exemple: où se trouve la tour Eiffel ?"
          required
        />
      </div>
      <div id="spinner" class="lds-dual-ring hide">
        
      </div>
      
      <div>
        <button id="button-add" type="submit" name='submit'>
          Soumettre la question
        </button>
      </div>
    </form>

{% endblock content %}